<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="in.sp.beans.Address" id="addr">
    <property name="houseno" value="29"></property>
    <property name="city" value="kolkata"></property>
    <property name="pincode" value="500061"></property>
    
    </bean>
    
    <bean class="in.sp.beans.Address" id="addr2" autowire-candidate="false">
    <property name="houseno" value="20"></property>
    <property name="city" value="mumbai"></property>
    <property name="pincode" value="500056"></property>
    </bean>
    
    <bean class="in.sp.beans.student" id="studentid" autowire="byType"> <!-- internally type  method called by "bytype" -->
    <property name="name" value="sourav"></property>
    <property name="rollno" value="23"></property>
   <!-- <property name="address" ref="addr"></property> --> 
    
    </bean>

</beans>